{# Copy this template code to start a view#}
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block doc %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}
{% block title %}
    500: Internal Server Error
{% endblock %}
{% block html_attribs %}
    {# Add your Codes Here   #}
{% endblock %}

{% block html %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block head %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block metas %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block styles %}
    {{ super() }}
    {# Add your Codes Here   #}
{%- endblock %}

{% block body_attribs %}
    {# Add your Codes Here   #}
{% endblock %}

{% block body %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block brand_href %}
    {# Add your Codes Here   #}
{% endblock %}

{% block navbar_dynamic %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}

{% block flash_msg_top %}
    {{ super() }}
    {# Add your Cod{% block title %}
    404: Page Not Found
{% endblock %}es Here   #}
{% endblock %}

{% block view_specific_left_col_buttons %}
    {{ super() }}
    {# Add your Codes Here   #}
{% endblock %}


{% block content_1 %}
    {# Add your Codes Here   #}
    <div class="page-header">
    <h1>500: Internal Server Error</h1>
{% endblock %}


{% block content_2 %}
    {# Add your Codes Here   #}
{% endblock %}

{% block content_footer %}
    {# Add your Codes Here   #}
{% endblock %}