{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Flask Boilerplate {% endblock %}
{% block brand_href %} href="/"{% endblock %}

{% block content_1 %}

    <h1> Welcome to Rezwan's Flask Boilerplate </h1>
    {% if current_user.is_authenticated() == True %}
    {% include 'logged_in_gist_view.html' %}
        {% else %}

        <h2 class="text-left">Please <a href="{{ url_for('auth.login') }}"> Log in </a></h2>
    {% endif %}
{% endblock %}
{% block content_2 %}
{% endblock %}